.contenedor div {
    background-color: blueviolet;
    width: 15vw;
    font-size: 35px;
    border: 4px solid #fff;
    text-align: center;
    box-sizing: border-box;
}
.contenedor {
    background: #fff1;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}
body {
    margin: 0;
}
