body {
    background-size: cover;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
}

.titulo {
    color: rgb(104, 10, 192);
    margin: auto;
    display: block;
    text-align: center;
}

.titulo-container {
    width: 100%;
}


