input {
    width: 20rem;
    color: white;
    outline: none;
    background-color: #444;
    display: block;
    border: solid 1px #111;
    font-size: 1.5rem;
    padding: 0.25rem;
    border-radius: 5px;
}

label {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
    color: white;
    width: 20rem;
    text-align: center;
    display: block;
}
