body {
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    align-items: center;
}

.container {
    background: #808080;
    height: 450px;
    width: 650px;
}
.form {
    display: inline-flex;
    flex-direction: column;
}
.nombre {
    width: 400px;
}
.response {
    display: block;
}