body {
    margin: 0;
    background-color: #3a2f1e;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100vw;
}
.amarillo {
    background-color: yellow;
}
.rojo {
    background-color: red;
}

.naranja {
    background-color: orange;
}

.azul {
    background-color: blue;
}
.color {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blanco {
    background-color: #fff;
    width: 120px;
    height: 120px;
}
