body {
    margin: 0;
    background-color: crimson;
    display: grid;
    grid-template:
        'header header' 60px
        'aside  main' 680px
        'footer footer' 60px /
        1fr 7fr;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: header;
    padding: 0px 10px;
}
aside {
    grid-area: aside;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #0e1538;
}
main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    background: royalblue;
}
footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212529;
}
header a {
    margin: 0px 10px;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}
header a:hover {
    background: greenyellow;
    color: lightcoral;
}
main a {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: oldlace;
    font-weight: bolder;
}
.play-button {
    overflow: hidden;
    position: relative;
    background-color: #ff3333;
    padding: 20px 85px;
    /* border-radius: 3px;  */
    cursor: pointer;
    box-shadow: 0px 0px 0px 10px royalblue, 0px 0px 0px 11px #fff;
}
.play-button:hover .blue {
    left: -15px;
}
.blue {
    background-color: #000033;
    width: 110%;
    height: 300%;
    position: absolute;
    top: -20px;
    left: -300px;
    transition: left 210ms ease-in;
    transform: rotate(8deg);
}
.texto {
    color: #fff;
}
.texto a {
    text-decoration: none;
    color: #007bff;
}
.texto a:hover {
    color: #0056b3;
    text-decoration: underline;
}
aside a {
    position: relative;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    margin: 40px;
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
}
aside a:hover {
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 60px var(--clr), 0 0 100px var(--clr);
}
aside a::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 400px;
    background: var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.33s * var(--i));
}
aside a:hover::before {
    width: 100%;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
aside a::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: #0e1538;
    transition: 0.5s;
}
aside a:hover::after {
    background: var(--clr);
}
aside a span {
    position: relative;
    z-index: 1;
    font-size: 20px;
    color: #fff;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
}
aside a:hover span {
    opacity: 1;
}
