@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 0px);
    background-size: 100% 2em;
    background-position-y: 24px;
    line-height: 2em;
}
